spring:
  data:
    redis:
      host: localhost
      port: 6379
      connect-timeout: 2000ms
      timeout: 1000ms
      lettuce:
        pool:
          max-active: 100
          max-idle: 50
          min-idle: 10
          max-wait: 500ms
        shutdown-timeout: 100ms

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8180/realms/gateway-realm

  application:
    name: api-gateway

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, gateway
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true

  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: "http://localhost:9411/api/v2/spans"

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"

gateway:
  defaults:
    replenish-rate: 10
    burst-capacity: 20
    requested-tokens: 1
    timeout-millis: 30000
    connection-timeout: 1000
    local-cache-size: 10
    local-cache-ttl-seconds: 30